/* katibeh-400normal - arabic */
@font-face {
  font-family: 'Katibeh';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Katibeh Regular '),
    local('Katibeh-Regular'),
    url('./files/katibeh-arabic-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/katibeh-arabic-400.woff') format('woff'); /* Modern Browsers */
}

