/* cherry-bomb-400normal - latin-ext */
@font-face {
  font-family: 'Cherry Bomb';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cherry Bomb Regular'),
    local('CherryBomb-Regular'), 
    url('./files/cherry-bomb-latin-ext-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cherry-bomb-latin-ext-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
