/* teko-300normal - all */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Teko Light'),
    local('Teko-Light'), 
    url('./files/teko-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/teko-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* teko-400normal - all */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Teko Regular'),
    local('Teko-Regular'), 
    url('./files/teko-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/teko-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* teko-500normal - all */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Teko Medium'),
    local('Teko-Medium'), 
    url('./files/teko-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/teko-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* teko-600normal - all */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Teko SemiBold'),
    local('Teko-SemiBold'), 
    url('./files/teko-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/teko-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* teko-700normal - all */
@font-face {
  font-family: 'Teko';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Teko Bold'),
    local('Teko-Bold'), 
    url('./files/teko-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/teko-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
