/* saira-100normal - all */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Saira Thin'),
    local('Saira-Thin'), 
    url('./files/saira-all-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-all-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-200normal - all */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Saira ExtraLight'),
    local('Saira-ExtraLight'), 
    url('./files/saira-all-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-all-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-300normal - all */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Saira Light'),
    local('Saira-Light'), 
    url('./files/saira-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-400normal - all */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Saira Regular'),
    local('Saira-Regular'), 
    url('./files/saira-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-500normal - all */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Saira Medium'),
    local('Saira-Medium'), 
    url('./files/saira-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-600normal - all */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Saira SemiBold'),
    local('Saira-SemiBold'), 
    url('./files/saira-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-700normal - all */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Saira Bold'),
    local('Saira-Bold'), 
    url('./files/saira-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-800normal - all */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Saira ExtraBold'),
    local('Saira-ExtraBold'), 
    url('./files/saira-all-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-all-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-900normal - all */
@font-face {
  font-family: 'Saira';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Saira Black'),
    local('Saira-Black'), 
    url('./files/saira-all-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-all-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
