/* roboto-100normal - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin '),
    local('Roboto-Thin'),
    url('./files/roboto-cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-100.woff') format('woff'); /* Modern Browsers */
}
/* roboto-100italic - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Roboto Thin italic'),
    local('Roboto-Thinitalic'),
    url('./files/roboto-cyrillic-100-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-100-italic.woff') format('woff'); /* Modern Browsers */
}
/* roboto-300normal - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light '),
    local('Roboto-Light'),
    url('./files/roboto-cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-300.woff') format('woff'); /* Modern Browsers */
}
/* roboto-300italic - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Roboto Light italic'),
    local('Roboto-Lightitalic'),
    url('./files/roboto-cyrillic-300-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-300-italic.woff') format('woff'); /* Modern Browsers */
}
/* roboto-400normal - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular '),
    local('Roboto-Regular'),
    url('./files/roboto-cyrillic-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-400.woff') format('woff'); /* Modern Browsers */
}
/* roboto-400italic - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Roboto Regular italic'),
    local('Roboto-Regularitalic'),
    url('./files/roboto-cyrillic-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-400-italic.woff') format('woff'); /* Modern Browsers */
}
/* roboto-500normal - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium '),
    local('Roboto-Medium'),
    url('./files/roboto-cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-500.woff') format('woff'); /* Modern Browsers */
}
/* roboto-500italic - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Roboto Medium italic'),
    local('Roboto-Mediumitalic'),
    url('./files/roboto-cyrillic-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-500-italic.woff') format('woff'); /* Modern Browsers */
}
/* roboto-700normal - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold '),
    local('Roboto-Bold'),
    url('./files/roboto-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-700.woff') format('woff'); /* Modern Browsers */
}
/* roboto-700italic - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Roboto Bold italic'),
    local('Roboto-Bolditalic'),
    url('./files/roboto-cyrillic-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-700-italic.woff') format('woff'); /* Modern Browsers */
}
/* roboto-900normal - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black '),
    local('Roboto-Black'),
    url('./files/roboto-cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-900.woff') format('woff'); /* Modern Browsers */
}
/* roboto-900italic - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Roboto Black italic'),
    local('Roboto-Blackitalic'),
    url('./files/roboto-cyrillic-900-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/roboto-cyrillic-900-italic.woff') format('woff'); /* Modern Browsers */
}
