/* nanum-myeongjo-400normal - korean */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('NanumMyeongjo'), 
    url('./files/nanum-myeongjo-korean-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/nanum-myeongjo-korean-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nanum-myeongjo-700normal - korean */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('NanumMyeongjo Bold'),
    local('NanumMyeongjoBold'), 
    url('./files/nanum-myeongjo-korean-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/nanum-myeongjo-korean-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* nanum-myeongjo-800normal - korean */
@font-face {
  font-family: 'Nanum Myeongjo';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('NanumMyeongjo ExtraBold'),
    local('NanumMyeongjoExtraBold'), 
    url('./files/nanum-myeongjo-korean-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/nanum-myeongjo-korean-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
