/* advent-pro-100normal - greek */
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Advent Pro Thin'),
    local('AdventPro-Thin'), 
    url('./files/advent-pro-greek-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-greek-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-200normal - greek */
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Advent Pro ExtraLight'),
    local('AdventPro-ExtraLight'), 
    url('./files/advent-pro-greek-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-greek-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-300normal - greek */
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Advent Pro Light'),
    local('AdventPro-Light'), 
    url('./files/advent-pro-greek-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-greek-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-400normal - greek */
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Advent Pro Regular'),
    local('AdventPro-Regular'), 
    url('./files/advent-pro-greek-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-greek-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-500normal - greek */
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Advent Pro Medium'),
    local('AdventPro-Medium'), 
    url('./files/advent-pro-greek-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-greek-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-600normal - greek */
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Advent Pro SemiBold'),
    local('AdventPro-SemiBold'), 
    url('./files/advent-pro-greek-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-greek-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* advent-pro-700normal - greek */
@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Advent Pro Bold'),
    local('AdventPro-Bold'), 
    url('./files/advent-pro-greek-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/advent-pro-greek-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
