/* paytone-one-400normal - all */
@font-face {
  font-family: 'Paytone One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Paytone One Regular '),
    local('Paytone One-Regular'),
    url('./files/paytone-one-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/paytone-one-all-400.woff') format('woff'); /* Modern Browsers */
}
