/* fira-code-300normal - all */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fira Code Light '),
    local('Fira Code-Light'),
    url('./files/fira-code-all-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-code-all-300.woff') format('woff'); /* Modern Browsers */
}
/* fira-code-400normal - all */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fira Code Regular '),
    local('Fira Code-Regular'),
    url('./files/fira-code-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-code-all-400.woff') format('woff'); /* Modern Browsers */
}
/* fira-code-500normal - all */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fira Code Medium '),
    local('Fira Code-Medium'),
    url('./files/fira-code-all-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-code-all-500.woff') format('woff'); /* Modern Browsers */
}
/* fira-code-600normal - all */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fira Code SemiBold '),
    local('Fira Code-SemiBold'),
    url('./files/fira-code-all-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-code-all-600.woff') format('woff'); /* Modern Browsers */
}
/* fira-code-700normal - all */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fira Code Bold '),
    local('Fira Code-Bold'),
    url('./files/fira-code-all-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-code-all-700.woff') format('woff'); /* Modern Browsers */
}
