/* livvic-100normal - all */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Livvic Thin'),
    local('Livvic-Thin'), 
    url('./files/livvic-all-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-100italic - all */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Livvic Thin Italic'),
    local('Livvic-ThinItalic'), 
    url('./files/livvic-all-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-200normal - all */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Livvic ExtraLight'),
    local('Livvic-ExtraLight'), 
    url('./files/livvic-all-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-200italic - all */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Livvic ExtraLight Italic'),
    local('Livvic-ExtraLightItalic'), 
    url('./files/livvic-all-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-300normal - all */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Livvic Light'),
    local('Livvic-Light'), 
    url('./files/livvic-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-300italic - all */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Livvic Light Italic'),
    local('Livvic-LightItalic'), 
    url('./files/livvic-all-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-400normal - all */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Livvic Regular'),
    local('Livvic-Regular'), 
    url('./files/livvic-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-400italic - all */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Livvic Italic'),
    local('Livvic-Italic'), 
    url('./files/livvic-all-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500normal - all */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Livvic Medium'),
    local('Livvic-Medium'), 
    url('./files/livvic-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-500italic - all */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Livvic Medium Italic'),
    local('Livvic-MediumItalic'), 
    url('./files/livvic-all-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600normal - all */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Livvic SemiBold'),
    local('Livvic-SemiBold'), 
    url('./files/livvic-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-600italic - all */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Livvic SemiBold Italic'),
    local('Livvic-SemiBoldItalic'), 
    url('./files/livvic-all-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700normal - all */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Livvic Bold'),
    local('Livvic-Bold'), 
    url('./files/livvic-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-700italic - all */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Livvic Bold Italic'),
    local('Livvic-BoldItalic'), 
    url('./files/livvic-all-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-900normal - all */
@font-face {
  font-family: 'Livvic';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Livvic Black'),
    local('Livvic-Black'), 
    url('./files/livvic-all-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* livvic-900italic - all */
@font-face {
  font-family: 'Livvic';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Livvic Black Italic'),
    local('Livvic-BlackItalic'), 
    url('./files/livvic-all-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/livvic-all-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
