/* lusitana-400normal - latin */
@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Lusitana'), 
    url('./files/lusitana-latin-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/lusitana-latin-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lusitana-700normal - latin */
@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Lusitana Bold'),
    local('Lusitana-Bold'), 
    url('./files/lusitana-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/lusitana-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
