/* markazi-text-400normal - arabic */
@font-face {
  font-family: 'Markazi Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/markazi-text-arabic-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/markazi-text-arabic-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* markazi-text-500normal - arabic */
@font-face {
  font-family: 'Markazi Text';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/markazi-text-arabic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/markazi-text-arabic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* markazi-text-600normal - arabic */
@font-face {
  font-family: 'Markazi Text';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/markazi-text-arabic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/markazi-text-arabic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* markazi-text-700normal - arabic */
@font-face {
  font-family: 'Markazi Text';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/markazi-text-arabic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/markazi-text-arabic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
