/* khula-300normal - all */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Khula Light'),
    local('Khula-Light'), 
    url('./files/khula-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/khula-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* khula-400normal - all */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Khula Regular'),
    local('Khula-Regular'), 
    url('./files/khula-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/khula-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* khula-600normal - all */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Khula SemiBold'),
    local('Khula-SemiBold'), 
    url('./files/khula-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/khula-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* khula-700normal - all */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Khula Bold'),
    local('Khula-Bold'), 
    url('./files/khula-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/khula-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* khula-800normal - all */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Khula ExtraBold'),
    local('Khula-ExtraBold'), 
    url('./files/khula-all-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/khula-all-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
