/* krub-200normal - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Krub ExtraLight'),
    local('Krub-ExtraLight'), 
    url('./files/krub-vietnamese-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-200italic - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Krub ExtraLight Italic'),
    local('Krub-ExtraLightItalic'), 
    url('./files/krub-vietnamese-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-300normal - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Krub Light'),
    local('Krub-Light'), 
    url('./files/krub-vietnamese-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-300italic - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Krub Light Italic'),
    local('Krub-LightItalic'), 
    url('./files/krub-vietnamese-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-400normal - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Krub Regular'),
    local('Krub-Regular'), 
    url('./files/krub-vietnamese-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-400italic - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Krub Italic'),
    local('Krub-Italic'), 
    url('./files/krub-vietnamese-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-500normal - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Krub Medium'),
    local('Krub-Medium'), 
    url('./files/krub-vietnamese-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-500italic - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Krub Medium Italic'),
    local('Krub-MediumItalic'), 
    url('./files/krub-vietnamese-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-600normal - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Krub SemiBold'),
    local('Krub-SemiBold'), 
    url('./files/krub-vietnamese-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-600italic - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Krub SemiBold Italic'),
    local('Krub-SemiBoldItalic'), 
    url('./files/krub-vietnamese-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-700normal - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Krub Bold'),
    local('Krub-Bold'), 
    url('./files/krub-vietnamese-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* krub-700italic - vietnamese */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Krub Bold Italic'),
    local('Krub-BoldItalic'), 
    url('./files/krub-vietnamese-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/krub-vietnamese-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
