/* farro-300normal - latin */
@font-face {
  font-family: 'Farro';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Farro Light'),
    local('Farro-Light'), 
    url('./files/farro-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/farro-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* farro-400normal - latin */
@font-face {
  font-family: 'Farro';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Farro Regular'),
    local('Farro-Regular'), 
    url('./files/farro-latin-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/farro-latin-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* farro-500normal - latin */
@font-face {
  font-family: 'Farro';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Farro Medium'),
    local('Farro-Medium'), 
    url('./files/farro-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/farro-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* farro-700normal - latin */
@font-face {
  font-family: 'Farro';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Farro Bold'),
    local('Farro-Bold'), 
    url('./files/farro-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/farro-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
