/* noto-serif-kr-200normal - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Noto Serif KR ExtraLight'),
    local('NotoSerifKR-ExtraLight'), 
    url('./files/noto-serif-kr-korean-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-korean-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-300normal - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Noto Serif KR Light'),
    local('NotoSerifKR-Light'), 
    url('./files/noto-serif-kr-korean-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-korean-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-400normal - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Noto Serif KR'),
    local('NotoSerifKR-Regular'), 
    url('./files/noto-serif-kr-korean-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-korean-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-500normal - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Noto Serif KR Medium'),
    local('NotoSerifKR-Medium'), 
    url('./files/noto-serif-kr-korean-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-korean-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-600normal - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Noto Serif KR SemiBold'),
    local('NotoSerifKR-SemiBold'), 
    url('./files/noto-serif-kr-korean-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-korean-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-700normal - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Serif KR Bold'),
    local('NotoSerifKR-Bold'), 
    url('./files/noto-serif-kr-korean-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-korean-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-kr-900normal - korean */
@font-face {
  font-family: 'Noto Serif KR';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Noto Serif KR Black'),
    local('NotoSerifKR-Black'), 
    url('./files/noto-serif-kr-korean-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-kr-korean-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
