/* fahkwang-200normal - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fahkwang Extra Light '),
    local('Fahkwang-Extra Light'),
    url('./files/fahkwang-thai-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-200.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-200italic - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fahkwang Extra Light italic'),
    local('Fahkwang-Extra Lightitalic'),
    url('./files/fahkwang-thai-200-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-200-italic.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-300normal - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fahkwang Light '),
    local('Fahkwang-Light'),
    url('./files/fahkwang-thai-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-300.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-300italic - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fahkwang Light italic'),
    local('Fahkwang-Lightitalic'),
    url('./files/fahkwang-thai-300-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-300-italic.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-400normal - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fahkwang Regular '),
    local('Fahkwang-Regular'),
    url('./files/fahkwang-thai-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-400.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-400italic - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fahkwang Regular italic'),
    local('Fahkwang-Regularitalic'),
    url('./files/fahkwang-thai-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-400-italic.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-500normal - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fahkwang Medium '),
    local('Fahkwang-Medium'),
    url('./files/fahkwang-thai-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-500.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-500italic - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fahkwang Medium italic'),
    local('Fahkwang-Mediumitalic'),
    url('./files/fahkwang-thai-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-500-italic.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-600normal - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fahkwang SemiBold '),
    local('Fahkwang-SemiBold'),
    url('./files/fahkwang-thai-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-600.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-600italic - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fahkwang SemiBold italic'),
    local('Fahkwang-SemiBolditalic'),
    url('./files/fahkwang-thai-600-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-600-italic.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-700normal - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fahkwang Bold '),
    local('Fahkwang-Bold'),
    url('./files/fahkwang-thai-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-700.woff') format('woff'); /* Modern Browsers */
}
/* fahkwang-700italic - thai */
@font-face {
  font-family: 'Fahkwang';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fahkwang Bold italic'),
    local('Fahkwang-Bolditalic'),
    url('./files/fahkwang-thai-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fahkwang-thai-700-italic.woff') format('woff'); /* Modern Browsers */
}
