/* lexend-exa-400normal - latin-ext */
@font-face {
  font-family: 'Lexend Exa';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Lexend Exa Regular '),
    local('Lexend Exa-Regular'),
    url('./files/lexend-exa-latin-ext-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lexend-exa-latin-ext-400.woff') format('woff'); /* Modern Browsers */
}
