/* saira-condensed-100normal - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Saira Condensed Thin'),
    local('SairaCondensed-Thin'), 
    url('./files/saira-condensed-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-condensed-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-200normal - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Saira Condensed ExtraLight'),
    local('SairaCondensed-ExtraLight'), 
    url('./files/saira-condensed-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-condensed-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-300normal - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Saira Condensed Light'),
    local('SairaCondensed-Light'), 
    url('./files/saira-condensed-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-condensed-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-400normal - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Saira Condensed Regular'),
    local('SairaCondensed-Regular'), 
    url('./files/saira-condensed-latin-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-condensed-latin-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-500normal - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Saira Condensed Medium'),
    local('SairaCondensed-Medium'), 
    url('./files/saira-condensed-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-condensed-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-600normal - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Saira Condensed SemiBold'),
    local('SairaCondensed-SemiBold'), 
    url('./files/saira-condensed-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-condensed-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-700normal - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Saira Condensed Bold'),
    local('SairaCondensed-Bold'), 
    url('./files/saira-condensed-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-condensed-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-800normal - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Saira Condensed ExtraBold'),
    local('SairaCondensed-ExtraBold'), 
    url('./files/saira-condensed-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-condensed-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* saira-condensed-900normal - latin */
@font-face {
  font-family: 'Saira Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Saira Condensed Black'),
    local('SairaCondensed-Black'), 
    url('./files/saira-condensed-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/saira-condensed-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
