/* merriweather-300normal - all */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Merriweather Light '),
    local('Merriweather-Light'),
    url('./files/merriweather-all-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/merriweather-all-300.woff') format('woff'); /* Modern Browsers */
}
/* merriweather-300italic - all */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Merriweather Light italic'),
    local('Merriweather-Lightitalic'),
    url('./files/merriweather-all-300-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/merriweather-all-300-italic.woff') format('woff'); /* Modern Browsers */
}
/* merriweather-400normal - all */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Merriweather Regular '),
    local('Merriweather-Regular'),
    url('./files/merriweather-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/merriweather-all-400.woff') format('woff'); /* Modern Browsers */
}
/* merriweather-400italic - all */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Merriweather Regular italic'),
    local('Merriweather-Regularitalic'),
    url('./files/merriweather-all-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/merriweather-all-400-italic.woff') format('woff'); /* Modern Browsers */
}
/* merriweather-700normal - all */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Merriweather Bold '),
    local('Merriweather-Bold'),
    url('./files/merriweather-all-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/merriweather-all-700.woff') format('woff'); /* Modern Browsers */
}
/* merriweather-700italic - all */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Merriweather Bold italic'),
    local('Merriweather-Bolditalic'),
    url('./files/merriweather-all-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/merriweather-all-700-italic.woff') format('woff'); /* Modern Browsers */
}
/* merriweather-900normal - all */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Merriweather Black '),
    local('Merriweather-Black'),
    url('./files/merriweather-all-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/merriweather-all-900.woff') format('woff'); /* Modern Browsers */
}
/* merriweather-900italic - all */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Merriweather Black italic'),
    local('Merriweather-Blackitalic'),
    url('./files/merriweather-all-900-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/merriweather-all-900-italic.woff') format('woff'); /* Modern Browsers */
}
