/* noto-serif-jp-200normal - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Noto Serif JP ExtraLight'),
    local('NotoSerifJP-ExtraLight'), 
    url('./files/noto-serif-jp-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-jp-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-jp-300normal - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Noto Serif JP Light'),
    local('NotoSerifJP-Light'), 
    url('./files/noto-serif-jp-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-jp-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-jp-400normal - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Noto Serif JP'),
    local('NotoSerifJP-Regular'), 
    url('./files/noto-serif-jp-latin-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-jp-latin-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-jp-500normal - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Noto Serif JP Medium'),
    local('NotoSerifJP-Medium'), 
    url('./files/noto-serif-jp-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-jp-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-jp-600normal - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Noto Serif JP SemiBold'),
    local('NotoSerifJP-SemiBold'), 
    url('./files/noto-serif-jp-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-jp-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-jp-700normal - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Serif JP Bold'),
    local('NotoSerifJP-Bold'), 
    url('./files/noto-serif-jp-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-jp-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-jp-900normal - latin */
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Noto Serif JP Black'),
    local('NotoSerifJP-Black'), 
    url('./files/noto-serif-jp-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/noto-serif-jp-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
