/* martel-sans-200normal - all */
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Martel Sans Extra Light '),
    local('Martel Sans-Extra Light'),
    url('./files/martel-sans-all-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-sans-all-200.woff') format('woff'); /* Modern Browsers */
}

/* martel-sans-300normal - all */
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Martel Sans Light '),
    local('Martel Sans-Light'),
    url('./files/martel-sans-all-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-sans-all-300.woff') format('woff'); /* Modern Browsers */
}

/* martel-sans-400normal - all */
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Martel Sans Regular '),
    local('Martel Sans-Regular'),
    url('./files/martel-sans-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-sans-all-400.woff') format('woff'); /* Modern Browsers */
}

/* martel-sans-600normal - all */
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Martel Sans SemiBold '),
    local('Martel Sans-SemiBold'),
    url('./files/martel-sans-all-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-sans-all-600.woff') format('woff'); /* Modern Browsers */
}

/* martel-sans-700normal - all */
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Martel Sans Bold '),
    local('Martel Sans-Bold'),
    url('./files/martel-sans-all-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-sans-all-700.woff') format('woff'); /* Modern Browsers */
}

/* martel-sans-800normal - all */
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Martel Sans ExtraBold '),
    local('Martel Sans-ExtraBold'),
    url('./files/martel-sans-all-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-sans-all-800.woff') format('woff'); /* Modern Browsers */
}

/* martel-sans-900normal - all */
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Martel Sans Black '),
    local('Martel Sans-Black'),
    url('./files/martel-sans-all-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/martel-sans-all-900.woff') format('woff'); /* Modern Browsers */
}

