/* changa-200normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Changa ExtraLight'),
    local('Changa-ExtraLight'), 
    url('./files/changa-all-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-300normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Changa Light'),
    local('Changa-Light'), 
    url('./files/changa-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-400normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Changa'),
    local('Changa-Regular'), 
    url('./files/changa-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-500normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Changa Medium'),
    local('Changa-Medium'), 
    url('./files/changa-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-600normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Changa SemiBold'),
    local('Changa-SemiBold'), 
    url('./files/changa-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-700normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Changa Bold'),
    local('Changa-Bold'), 
    url('./files/changa-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-800normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Changa ExtraBold'),
    local('Changa-ExtraBold'), 
    url('./files/changa-all-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
