/* changa-200normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: 
    url('./files/changa-all-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-300normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: 
    url('./files/changa-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-400normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/changa-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-500normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/changa-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-600normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/changa-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-700normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/changa-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* changa-800normal - all */
@font-face {
  font-family: 'Changa';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: 
    url('./files/changa-all-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/changa-all-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
