/* cousine-400normal - greek */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cousine Regular '),
    local('Cousine-Regular'),
    url('./files/cousine-greek-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cousine-greek-400.woff') format('woff'); /* Modern Browsers */
}
/* cousine-400italic - greek */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cousine Regular italic'),
    local('Cousine-Regularitalic'),
    url('./files/cousine-greek-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cousine-greek-400-italic.woff') format('woff'); /* Modern Browsers */
}
/* cousine-700normal - greek */
@font-face {
  font-family: 'Cousine';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cousine Bold '),
    local('Cousine-Bold'),
    url('./files/cousine-greek-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cousine-greek-700.woff') format('woff'); /* Modern Browsers */
}
/* cousine-700italic - greek */
@font-face {
  font-family: 'Cousine';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cousine Bold italic'),
    local('Cousine-Bolditalic'),
    url('./files/cousine-greek-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cousine-greek-700-italic.woff') format('woff'); /* Modern Browsers */
}
