/* alegreya-sans-sc-100normal - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Alegreya Sans SC Thin'),
    local('AlegreyaSansSC-Thin'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-100italic - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Alegreya Sans SC Thin Italic'),
    local('AlegreyaSansSC-ThinItalic'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-300normal - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Alegreya Sans SC Light'),
    local('AlegreyaSansSC-Light'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-300italic - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Alegreya Sans SC Light Italic'),
    local('AlegreyaSansSC-LightItalic'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-400normal - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Sans SC Regular'),
    local('AlegreyaSansSC-Regular'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-400italic - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Alegreya Sans SC Italic'),
    local('AlegreyaSansSC-Italic'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-500normal - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya Sans SC Medium'),
    local('AlegreyaSansSC-Medium'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-500italic - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Alegreya Sans SC Medium Italic'),
    local('AlegreyaSansSC-MediumItalic'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-700normal - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Sans SC Bold'),
    local('AlegreyaSansSC-Bold'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-700italic - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Alegreya Sans SC Bold Italic'),
    local('AlegreyaSansSC-BoldItalic'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-800normal - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya Sans SC ExtraBold'),
    local('AlegreyaSansSC-ExtraBold'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-800italic - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Alegreya Sans SC ExtraBold Italic'),
    local('AlegreyaSansSC-ExtraBoldItalic'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-900normal - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Sans SC Black'),
    local('AlegreyaSansSC-Black'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-900italic - cyrillic-ext */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Alegreya Sans SC Black Italic'),
    local('AlegreyaSansSC-BlackItalic'), 
    url('./files/alegreya-sans-sc-cyrillic-ext-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/alegreya-sans-sc-cyrillic-ext-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
