/* prata-400normal - all */
@font-face {
  font-family: 'Prata';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Prata Regular '),
    local('Prata-Regular'),
    url('./files/prata-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/prata-all-400.woff') format('woff'); /* Modern Browsers */
}
