/* cabin-condensed-400normal - vietnamese */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cabin Condensed'),
    local('CabinCondensed-Regular'), 
    url('./files/cabin-condensed-vietnamese-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cabin-condensed-vietnamese-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cabin-condensed-500normal - vietnamese */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cabin Condensed Medium'),
    local('CabinCondensed-Medium'), 
    url('./files/cabin-condensed-vietnamese-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cabin-condensed-vietnamese-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cabin-condensed-600normal - vietnamese */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cabin Condensed SemiBold'),
    local('CabinCondensed-SemiBold'), 
    url('./files/cabin-condensed-vietnamese-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cabin-condensed-vietnamese-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* cabin-condensed-700normal - vietnamese */
@font-face {
  font-family: 'Cabin Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cabin Condensed Bold'),
    local('CabinCondensed-Bold'), 
    url('./files/cabin-condensed-vietnamese-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/cabin-condensed-vietnamese-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
