/* barlow-semi-condensed-100normal - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Barlow Semi Condensed Thin'),
    local('BarlowSemiCondensed-Thin'), 
    url('./files/barlow-semi-condensed-all-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-100italic - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Barlow Semi Condensed Thin Italic'),
    local('BarlowSemiCondensed-ThinItalic'), 
    url('./files/barlow-semi-condensed-all-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-200normal - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Barlow Semi Condensed ExtraLight'),
    local('BarlowSemiCondensed-ExtraLight'), 
    url('./files/barlow-semi-condensed-all-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-200italic - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Barlow Semi Condensed ExtraLight Italic'),
    local('BarlowSemiCondensed-ExtraLightItalic'), 
    url('./files/barlow-semi-condensed-all-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-300normal - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Barlow Semi Condensed Light'),
    local('BarlowSemiCondensed-Light'), 
    url('./files/barlow-semi-condensed-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-300italic - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Barlow Semi Condensed Light Italic'),
    local('BarlowSemiCondensed-LightItalic'), 
    url('./files/barlow-semi-condensed-all-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-400normal - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Barlow Semi Condensed Regular'),
    local('BarlowSemiCondensed-Regular'), 
    url('./files/barlow-semi-condensed-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-400italic - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Barlow Semi Condensed Italic'),
    local('BarlowSemiCondensed-Italic'), 
    url('./files/barlow-semi-condensed-all-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-500normal - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Barlow Semi Condensed Medium'),
    local('BarlowSemiCondensed-Medium'), 
    url('./files/barlow-semi-condensed-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-500italic - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Barlow Semi Condensed Medium Italic'),
    local('BarlowSemiCondensed-MediumItalic'), 
    url('./files/barlow-semi-condensed-all-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-600normal - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Barlow Semi Condensed SemiBold'),
    local('BarlowSemiCondensed-SemiBold'), 
    url('./files/barlow-semi-condensed-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-600italic - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Barlow Semi Condensed SemiBold Italic'),
    local('BarlowSemiCondensed-SemiBoldItalic'), 
    url('./files/barlow-semi-condensed-all-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-700normal - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Barlow Semi Condensed Bold'),
    local('BarlowSemiCondensed-Bold'), 
    url('./files/barlow-semi-condensed-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-700italic - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Barlow Semi Condensed Bold Italic'),
    local('BarlowSemiCondensed-BoldItalic'), 
    url('./files/barlow-semi-condensed-all-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-800normal - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Barlow Semi Condensed ExtraBold'),
    local('BarlowSemiCondensed-ExtraBold'), 
    url('./files/barlow-semi-condensed-all-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-800italic - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Barlow Semi Condensed ExtraBold Italic'),
    local('BarlowSemiCondensed-ExtraBoldItalic'), 
    url('./files/barlow-semi-condensed-all-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-900normal - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Barlow Semi Condensed Black'),
    local('BarlowSemiCondensed-Black'), 
    url('./files/barlow-semi-condensed-all-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-semi-condensed-900italic - all */
@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Barlow Semi Condensed Black Italic'),
    local('BarlowSemiCondensed-BlackItalic'), 
    url('./files/barlow-semi-condensed-all-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/barlow-semi-condensed-all-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
