/* fira-sans-extra-condensed-100normal - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Fira Sans Extra Condensed Thin'),
    local('FiraSansExtraCondensed-Thin'), 
    url('./files/fira-sans-extra-condensed-all-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-100italic - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Fira Sans Extra Condensed Thin Italic'),
    local('FiraSansExtraCondensed-ThinItalic'), 
    url('./files/fira-sans-extra-condensed-all-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-200normal - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fira Sans Extra Condensed ExtraLight'),
    local('FiraSansExtraCondensed-ExtraLight'), 
    url('./files/fira-sans-extra-condensed-all-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-200italic - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fira Sans Extra Condensed ExtraLight Italic'),
    local('FiraSansExtraCondensed-ExtraLightItalic'), 
    url('./files/fira-sans-extra-condensed-all-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-300normal - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fira Sans Extra Condensed Light'),
    local('FiraSansExtraCondensed-Light'), 
    url('./files/fira-sans-extra-condensed-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-300italic - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fira Sans Extra Condensed Light Italic'),
    local('FiraSansExtraCondensed-LightItalic'), 
    url('./files/fira-sans-extra-condensed-all-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-400normal - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fira Sans Extra Condensed Regular'),
    local('FiraSansExtraCondensed-Regular'), 
    url('./files/fira-sans-extra-condensed-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-400italic - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fira Sans Extra Condensed Italic'),
    local('FiraSansExtraCondensed-Italic'), 
    url('./files/fira-sans-extra-condensed-all-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-500normal - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fira Sans Extra Condensed Medium'),
    local('FiraSansExtraCondensed-Medium'), 
    url('./files/fira-sans-extra-condensed-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-500italic - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fira Sans Extra Condensed Medium Italic'),
    local('FiraSansExtraCondensed-MediumItalic'), 
    url('./files/fira-sans-extra-condensed-all-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-600normal - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fira Sans Extra Condensed SemiBold'),
    local('FiraSansExtraCondensed-SemiBold'), 
    url('./files/fira-sans-extra-condensed-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-600italic - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fira Sans Extra Condensed SemiBold Italic'),
    local('FiraSansExtraCondensed-SemiBoldItalic'), 
    url('./files/fira-sans-extra-condensed-all-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-700normal - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fira Sans Extra Condensed Bold'),
    local('FiraSansExtraCondensed-Bold'), 
    url('./files/fira-sans-extra-condensed-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-700italic - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fira Sans Extra Condensed Bold Italic'),
    local('FiraSansExtraCondensed-BoldItalic'), 
    url('./files/fira-sans-extra-condensed-all-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-800normal - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Fira Sans Extra Condensed ExtraBold'),
    local('FiraSansExtraCondensed-ExtraBold'), 
    url('./files/fira-sans-extra-condensed-all-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-800italic - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Fira Sans Extra Condensed ExtraBold Italic'),
    local('FiraSansExtraCondensed-ExtraBoldItalic'), 
    url('./files/fira-sans-extra-condensed-all-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-900normal - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Fira Sans Extra Condensed Black'),
    local('FiraSansExtraCondensed-Black'), 
    url('./files/fira-sans-extra-condensed-all-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fira-sans-extra-condensed-900italic - all */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Fira Sans Extra Condensed Black Italic'),
    local('FiraSansExtraCondensed-BlackItalic'), 
    url('./files/fira-sans-extra-condensed-all-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/fira-sans-extra-condensed-all-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
