/* exo-2-100normal - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Exo 2 Thin'),
    local('Exo2-Thin'), 
    url('./files/exo-2-latin-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-100italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Exo 2 Thin Italic'),
    local('Exo2-ThinItalic'), 
    url('./files/exo-2-latin-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-200normal - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Exo 2 ExtraLight'),
    local('Exo2-ExtraLight'), 
    url('./files/exo-2-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-200italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Exo 2 ExtraLight Italic'),
    local('Exo2-ExtraLightItalic'), 
    url('./files/exo-2-latin-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-300normal - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Exo 2 Light'),
    local('Exo2-Light'), 
    url('./files/exo-2-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-300italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Exo 2 Light Italic'),
    local('Exo2-LightItalic'), 
    url('./files/exo-2-latin-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-400normal - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Exo 2 Regular'),
    local('Exo2-Regular'), 
    url('./files/exo-2-latin-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-400italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Exo 2 Italic'),
    local('Exo2-Italic'), 
    url('./files/exo-2-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-500normal - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Exo 2 Medium'),
    local('Exo2-Medium'), 
    url('./files/exo-2-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-500italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Exo 2 Medium Italic'),
    local('Exo2-MediumItalic'), 
    url('./files/exo-2-latin-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-600normal - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Exo 2 SemiBold'),
    local('Exo2-SemiBold'), 
    url('./files/exo-2-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-600italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Exo 2 SemiBold Italic'),
    local('Exo2-SemiBoldItalic'), 
    url('./files/exo-2-latin-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-700normal - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Exo 2 Bold'),
    local('Exo2-Bold'), 
    url('./files/exo-2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-700italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Exo 2 Bold Italic'),
    local('Exo2-BoldItalic'), 
    url('./files/exo-2-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-800normal - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Exo 2 ExtraBold'),
    local('Exo2-ExtraBold'), 
    url('./files/exo-2-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-800italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Exo 2 ExtraBold Italic'),
    local('Exo2-ExtraBoldItalic'), 
    url('./files/exo-2-latin-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-900normal - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Exo 2 Black'),
    local('Exo2-Black'), 
    url('./files/exo-2-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* exo-2-900italic - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Exo 2 Black Italic'),
    local('Exo2-BlackItalic'), 
    url('./files/exo-2-latin-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/exo-2-latin-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
