/* rowdies-300normal - latin-ext */
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Rowdies Light'),
    local('Rowdies-Light'), 
    url('./files/rowdies-latin-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/rowdies-latin-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rowdies-400normal - latin-ext */
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Rowdies Regular'),
    local('Rowdies-Regular'), 
    url('./files/rowdies-latin-ext-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/rowdies-latin-ext-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rowdies-700normal - latin-ext */
@font-face {
  font-family: 'Rowdies';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Rowdies Bold'),
    local('Rowdies-Bold'), 
    url('./files/rowdies-latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/rowdies-latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
