/* grandstander-100normal - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: 
    url('./files/grandstander-latin-ext-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-100italic - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: 
    url('./files/grandstander-latin-ext-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-200normal - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: 
    url('./files/grandstander-latin-ext-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-200italic - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: 
    url('./files/grandstander-latin-ext-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-300normal - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: 
    url('./files/grandstander-latin-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-300italic - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: 
    url('./files/grandstander-latin-ext-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-400normal - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/grandstander-latin-ext-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-400italic - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/grandstander-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-500normal - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/grandstander-latin-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-500italic - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/grandstander-latin-ext-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-600normal - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/grandstander-latin-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-600italic - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/grandstander-latin-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-700normal - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/grandstander-latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-700italic - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/grandstander-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-800normal - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: 
    url('./files/grandstander-latin-ext-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-800italic - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: 
    url('./files/grandstander-latin-ext-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-900normal - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: 
    url('./files/grandstander-latin-ext-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* grandstander-900italic - latin-ext */
@font-face {
  font-family: 'Grandstander';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: 
    url('./files/grandstander-latin-ext-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/grandstander-latin-ext-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
