/* lora-400normal - vietnamese */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Lora Regular '),
    local('Lora-Regular'),
    url('./files/lora-vietnamese-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lora-vietnamese-400.woff') format('woff'); /* Modern Browsers */
}

/* lora-400italic - vietnamese */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Lora Regular italic'),
    local('Lora-Regularitalic'),
    url('./files/lora-vietnamese-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lora-vietnamese-400-italic.woff') format('woff'); /* Modern Browsers */
}

/* lora-700normal - vietnamese */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Lora Bold '),
    local('Lora-Bold'),
    url('./files/lora-vietnamese-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lora-vietnamese-700.woff') format('woff'); /* Modern Browsers */
}

/* lora-700italic - vietnamese */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Lora Bold italic'),
    local('Lora-Bolditalic'),
    url('./files/lora-vietnamese-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/lora-vietnamese-700-italic.woff') format('woff'); /* Modern Browsers */
}

