/* prompt-100normal - all */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Prompt Thin'),
    local('Prompt-Thin'), 
    url('./files/prompt-all-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-100italic - all */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Prompt Thin Italic'),
    local('Prompt-ThinItalic'), 
    url('./files/prompt-all-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-200normal - all */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Prompt ExtraLight'),
    local('Prompt-ExtraLight'), 
    url('./files/prompt-all-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-200italic - all */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Prompt ExtraLight Italic'),
    local('Prompt-ExtraLightItalic'), 
    url('./files/prompt-all-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-300normal - all */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Prompt Light'),
    local('Prompt-Light'), 
    url('./files/prompt-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-300italic - all */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Prompt Light Italic'),
    local('Prompt-LightItalic'), 
    url('./files/prompt-all-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-400normal - all */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Prompt'),
    local('Prompt-Regular'), 
    url('./files/prompt-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-400italic - all */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Prompt Italic'),
    local('Prompt-Italic'), 
    url('./files/prompt-all-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-500normal - all */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Prompt Medium'),
    local('Prompt-Medium'), 
    url('./files/prompt-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-500italic - all */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Prompt Medium Italic'),
    local('Prompt-MediumItalic'), 
    url('./files/prompt-all-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-600normal - all */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Prompt SemiBold'),
    local('Prompt-SemiBold'), 
    url('./files/prompt-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-600italic - all */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Prompt SemiBold Italic'),
    local('Prompt-SemiBoldItalic'), 
    url('./files/prompt-all-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-700normal - all */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Prompt Bold'),
    local('Prompt-Bold'), 
    url('./files/prompt-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-700italic - all */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Prompt Bold Italic'),
    local('Prompt-BoldItalic'), 
    url('./files/prompt-all-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-800normal - all */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Prompt ExtraBold'),
    local('Prompt-ExtraBold'), 
    url('./files/prompt-all-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-800italic - all */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Prompt ExtraBold Italic'),
    local('Prompt-ExtraBoldItalic'), 
    url('./files/prompt-all-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-900normal - all */
@font-face {
  font-family: 'Prompt';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Prompt Black'),
    local('Prompt-Black'), 
    url('./files/prompt-all-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* prompt-900italic - all */
@font-face {
  font-family: 'Prompt';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Prompt Black Italic'),
    local('Prompt-BlackItalic'), 
    url('./files/prompt-all-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/prompt-all-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
