/* athiti-200normal - all */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Athiti ExtraLight'),
    local('Athiti-ExtraLight'), 
    url('./files/athiti-all-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/athiti-all-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* athiti-300normal - all */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Athiti Light'),
    local('Athiti-Light'), 
    url('./files/athiti-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/athiti-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* athiti-400normal - all */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Athiti'),
    local('Athiti-Regular'), 
    url('./files/athiti-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/athiti-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* athiti-500normal - all */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Athiti Medium'),
    local('Athiti-Medium'), 
    url('./files/athiti-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/athiti-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* athiti-600normal - all */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Athiti SemiBold'),
    local('Athiti-SemiBold'), 
    url('./files/athiti-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/athiti-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* athiti-700normal - all */
@font-face {
  font-family: 'Athiti';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Athiti Bold'),
    local('Athiti-Bold'), 
    url('./files/athiti-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/athiti-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
