/* exo-2-100normal - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Exo 2 Thin '),
    local('Exo 2-Thin'),
    url('./files/exo-2-cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-100.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-100italic - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Exo 2 Thin italic'),
    local('Exo 2-Thinitalic'),
    url('./files/exo-2-cyrillic-100-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-100-italic.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-200normal - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Exo 2 Extra Light '),
    local('Exo 2-Extra Light'),
    url('./files/exo-2-cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-200.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-200italic - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Exo 2 Extra Light italic'),
    local('Exo 2-Extra Lightitalic'),
    url('./files/exo-2-cyrillic-200-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-200-italic.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-300normal - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Exo 2 Light '),
    local('Exo 2-Light'),
    url('./files/exo-2-cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-300.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-300italic - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Exo 2 Light italic'),
    local('Exo 2-Lightitalic'),
    url('./files/exo-2-cyrillic-300-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-300-italic.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-400normal - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Exo 2 Regular '),
    local('Exo 2-Regular'),
    url('./files/exo-2-cyrillic-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-400.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-400italic - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Exo 2 Regular italic'),
    local('Exo 2-Regularitalic'),
    url('./files/exo-2-cyrillic-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-400-italic.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-500normal - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Exo 2 Medium '),
    local('Exo 2-Medium'),
    url('./files/exo-2-cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-500.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-500italic - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Exo 2 Medium italic'),
    local('Exo 2-Mediumitalic'),
    url('./files/exo-2-cyrillic-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-500-italic.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-600normal - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Exo 2 SemiBold '),
    local('Exo 2-SemiBold'),
    url('./files/exo-2-cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-600.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-600italic - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Exo 2 SemiBold italic'),
    local('Exo 2-SemiBolditalic'),
    url('./files/exo-2-cyrillic-600-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-600-italic.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-700normal - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Exo 2 Bold '),
    local('Exo 2-Bold'),
    url('./files/exo-2-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-700.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-700italic - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Exo 2 Bold italic'),
    local('Exo 2-Bolditalic'),
    url('./files/exo-2-cyrillic-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-700-italic.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-800normal - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Exo 2 ExtraBold '),
    local('Exo 2-ExtraBold'),
    url('./files/exo-2-cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-800.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-800italic - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Exo 2 ExtraBold italic'),
    local('Exo 2-ExtraBolditalic'),
    url('./files/exo-2-cyrillic-800-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-800-italic.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-900normal - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Exo 2 Black '),
    local('Exo 2-Black'),
    url('./files/exo-2-cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-900.woff') format('woff'); /* Modern Browsers */
}
/* exo-2-900italic - cyrillic */
@font-face {
  font-family: 'Exo 2';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Exo 2 Black italic'),
    local('Exo 2-Blackitalic'),
    url('./files/exo-2-cyrillic-900-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/exo-2-cyrillic-900-italic.woff') format('woff'); /* Modern Browsers */
}
