/* hind-guntur-300normal - latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Hind Guntur Light'),
    local('HindGuntur-Light'), 
    url('./files/hind-guntur-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/hind-guntur-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-guntur-400normal - latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Hind Guntur Regular'),
    local('HindGuntur-Regular'), 
    url('./files/hind-guntur-latin-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/hind-guntur-latin-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-guntur-500normal - latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Hind Guntur Medium'),
    local('HindGuntur-Medium'), 
    url('./files/hind-guntur-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/hind-guntur-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-guntur-600normal - latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Hind Guntur SemiBold'),
    local('HindGuntur-SemiBold'), 
    url('./files/hind-guntur-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/hind-guntur-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-guntur-700normal - latin */
@font-face {
  font-family: 'Hind Guntur';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Hind Guntur Bold'),
    local('HindGuntur-Bold'), 
    url('./files/hind-guntur-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/hind-guntur-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
