/* catamaran-100normal - latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Catamaran Thin'),
    local('Catamaran-Thin'), 
    url('./files/catamaran-latin-ext-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/catamaran-latin-ext-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* catamaran-200normal - latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Catamaran ExtraLight'),
    local('Catamaran-ExtraLight'), 
    url('./files/catamaran-latin-ext-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/catamaran-latin-ext-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* catamaran-300normal - latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Catamaran Light'),
    local('Catamaran-Light'), 
    url('./files/catamaran-latin-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/catamaran-latin-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* catamaran-400normal - latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Catamaran Regular'),
    local('Catamaran-Regular'), 
    url('./files/catamaran-latin-ext-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/catamaran-latin-ext-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* catamaran-500normal - latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Catamaran Medium'),
    local('Catamaran-Medium'), 
    url('./files/catamaran-latin-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/catamaran-latin-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* catamaran-600normal - latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Catamaran SemiBold'),
    local('Catamaran-SemiBold'), 
    url('./files/catamaran-latin-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/catamaran-latin-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* catamaran-700normal - latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Catamaran Bold'),
    local('Catamaran-Bold'), 
    url('./files/catamaran-latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/catamaran-latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* catamaran-800normal - latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Catamaran ExtraBold'),
    local('Catamaran-ExtraBold'), 
    url('./files/catamaran-latin-ext-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/catamaran-latin-ext-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* catamaran-900normal - latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Catamaran Black'),
    local('Catamaran-Black'), 
    url('./files/catamaran-latin-ext-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/catamaran-latin-ext-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
