/* overpass-100normal - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Overpass Thin'),
    local('Overpass-Thin'), 
    url('./files/overpass-latin-ext-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-100italic - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Overpass Thin Italic'),
    local('Overpass-ThinItalic'), 
    url('./files/overpass-latin-ext-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-200normal - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Overpass ExtraLight'),
    local('Overpass-ExtraLight'), 
    url('./files/overpass-latin-ext-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-200italic - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Overpass ExtraLight Italic'),
    local('Overpass-ExtraLightItalic'), 
    url('./files/overpass-latin-ext-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-300normal - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Overpass Light'),
    local('Overpass-Light'), 
    url('./files/overpass-latin-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-300italic - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Overpass Light Italic'),
    local('Overpass-LightItalic'), 
    url('./files/overpass-latin-ext-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-400normal - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Overpass Regular'),
    local('Overpass-Regular'), 
    url('./files/overpass-latin-ext-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-400italic - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Overpass Italic'),
    local('Overpass-Italic'), 
    url('./files/overpass-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-600normal - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Overpass SemiBold'),
    local('Overpass-SemiBold'), 
    url('./files/overpass-latin-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-600italic - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Overpass SemiBold Italic'),
    local('Overpass-SemiBoldItalic'), 
    url('./files/overpass-latin-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-700normal - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Overpass Bold'),
    local('Overpass-Bold'), 
    url('./files/overpass-latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-700italic - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Overpass Bold Italic'),
    local('Overpass-BoldItalic'), 
    url('./files/overpass-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-800normal - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Overpass ExtraBold'),
    local('Overpass-ExtraBold'), 
    url('./files/overpass-latin-ext-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-800italic - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Overpass ExtraBold Italic'),
    local('Overpass-ExtraBoldItalic'), 
    url('./files/overpass-latin-ext-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-900normal - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Overpass Black'),
    local('Overpass-Black'), 
    url('./files/overpass-latin-ext-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-900italic - latin-ext */
@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Overpass Black Italic'),
    local('Overpass-BlackItalic'), 
    url('./files/overpass-latin-ext-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/overpass-latin-ext-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
