/* ibm-plex-serif-100normal - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('IBM Plex Serif Thin '),
    local('IBM Plex Serif-Thin'),
    url('./files/ibm-plex-serif-cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-100.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-100italic - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('IBM Plex Serif Thin italic'),
    local('IBM Plex Serif-Thinitalic'),
    url('./files/ibm-plex-serif-cyrillic-100-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-100-italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-200normal - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('IBM Plex Serif Extra Light '),
    local('IBM Plex Serif-Extra Light'),
    url('./files/ibm-plex-serif-cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-200.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-200italic - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('IBM Plex Serif Extra Light italic'),
    local('IBM Plex Serif-Extra Lightitalic'),
    url('./files/ibm-plex-serif-cyrillic-200-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-200-italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-300normal - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('IBM Plex Serif Light '),
    local('IBM Plex Serif-Light'),
    url('./files/ibm-plex-serif-cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-300.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-300italic - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('IBM Plex Serif Light italic'),
    local('IBM Plex Serif-Lightitalic'),
    url('./files/ibm-plex-serif-cyrillic-300-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-300-italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-400normal - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('IBM Plex Serif Regular '),
    local('IBM Plex Serif-Regular'),
    url('./files/ibm-plex-serif-cyrillic-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-400.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-400italic - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('IBM Plex Serif Regular italic'),
    local('IBM Plex Serif-Regularitalic'),
    url('./files/ibm-plex-serif-cyrillic-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-400-italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-500normal - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('IBM Plex Serif Medium '),
    local('IBM Plex Serif-Medium'),
    url('./files/ibm-plex-serif-cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-500.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-500italic - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('IBM Plex Serif Medium italic'),
    local('IBM Plex Serif-Mediumitalic'),
    url('./files/ibm-plex-serif-cyrillic-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-500-italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-600normal - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('IBM Plex Serif SemiBold '),
    local('IBM Plex Serif-SemiBold'),
    url('./files/ibm-plex-serif-cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-600.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-600italic - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('IBM Plex Serif SemiBold italic'),
    local('IBM Plex Serif-SemiBolditalic'),
    url('./files/ibm-plex-serif-cyrillic-600-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-600-italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-700normal - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('IBM Plex Serif Bold '),
    local('IBM Plex Serif-Bold'),
    url('./files/ibm-plex-serif-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-700.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-serif-700italic - cyrillic */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('IBM Plex Serif Bold italic'),
    local('IBM Plex Serif-Bolditalic'),
    url('./files/ibm-plex-serif-cyrillic-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ibm-plex-serif-cyrillic-700-italic.woff') format('woff'); /* Modern Browsers */
}

