/* farsan-400normal - vietnamese */
@font-face {
  font-family: 'Farsan';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Farsan Regular '),
    local('Farsan-Regular'),
    url('./files/farsan-vietnamese-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/farsan-vietnamese-400.woff') format('woff'); /* Modern Browsers */
}
