/* zilla-slab-300normal - latin-ext */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Zilla Slab Light'),
    local('ZillaSlab-Light'), 
    url('./files/zilla-slab-latin-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-300italic - latin-ext */
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Zilla Slab Light Italic'),
    local('ZillaSlab-LightItalic'), 
    url('./files/zilla-slab-latin-ext-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-400normal - latin-ext */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Zilla Slab'),
    local('ZillaSlab-Regular'), 
    url('./files/zilla-slab-latin-ext-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-400italic - latin-ext */
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Zilla Slab Italic'),
    local('ZillaSlab-Italic'), 
    url('./files/zilla-slab-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-500normal - latin-ext */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Zilla Slab Medium'),
    local('ZillaSlab-Medium'), 
    url('./files/zilla-slab-latin-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-500italic - latin-ext */
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Zilla Slab Medium Italic'),
    local('ZillaSlab-MediumItalic'), 
    url('./files/zilla-slab-latin-ext-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-600normal - latin-ext */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Zilla Slab SemiBold'),
    local('ZillaSlab-SemiBold'), 
    url('./files/zilla-slab-latin-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-600italic - latin-ext */
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Zilla Slab SemiBold Italic'),
    local('ZillaSlab-SemiBoldItalic'), 
    url('./files/zilla-slab-latin-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-700normal - latin-ext */
@font-face {
  font-family: 'Zilla Slab';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Zilla Slab Bold'),
    local('ZillaSlab-Bold'), 
    url('./files/zilla-slab-latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* zilla-slab-700italic - latin-ext */
@font-face {
  font-family: 'Zilla Slab';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Zilla Slab Bold Italic'),
    local('ZillaSlab-BoldItalic'), 
    url('./files/zilla-slab-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/zilla-slab-latin-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
