/* markazi-text-400normal - all */
@font-face {
  font-family: 'Markazi Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Markazi Text Regular '),
    local('Markazi Text-Regular'),
    url('./files/markazi-text-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/markazi-text-all-400.woff') format('woff'); /* Modern Browsers */
}
/* markazi-text-500normal - all */
@font-face {
  font-family: 'Markazi Text';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Markazi Text Medium '),
    local('Markazi Text-Medium'),
    url('./files/markazi-text-all-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/markazi-text-all-500.woff') format('woff'); /* Modern Browsers */
}
/* markazi-text-600normal - all */
@font-face {
  font-family: 'Markazi Text';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Markazi Text SemiBold '),
    local('Markazi Text-SemiBold'),
    url('./files/markazi-text-all-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/markazi-text-all-600.woff') format('woff'); /* Modern Browsers */
}
/* markazi-text-700normal - all */
@font-face {
  font-family: 'Markazi Text';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Markazi Text Bold '),
    local('Markazi Text-Bold'),
    url('./files/markazi-text-all-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/markazi-text-all-700.woff') format('woff'); /* Modern Browsers */
}
