/* arimo-400normal - cyrillic-ext */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Arimo Regular '),
    local('Arimo-Regular'),
    url('./files/arimo-cyrillic-ext-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/arimo-cyrillic-ext-400.woff') format('woff'); /* Modern Browsers */
}

/* arimo-400italic - cyrillic-ext */
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Arimo Regular italic'),
    local('Arimo-Regularitalic'),
    url('./files/arimo-cyrillic-ext-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/arimo-cyrillic-ext-400-italic.woff') format('woff'); /* Modern Browsers */
}

/* arimo-700normal - cyrillic-ext */
@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Arimo Bold '),
    local('Arimo-Bold'),
    url('./files/arimo-cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/arimo-cyrillic-ext-700.woff') format('woff'); /* Modern Browsers */
}

/* arimo-700italic - cyrillic-ext */
@font-face {
  font-family: 'Arimo';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Arimo Bold italic'),
    local('Arimo-Bolditalic'),
    url('./files/arimo-cyrillic-ext-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/arimo-cyrillic-ext-700-italic.woff') format('woff'); /* Modern Browsers */
}

