/* sarabun-100normal - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Sarabun Thin'),
    local('Sarabun-Thin'), 
    url('./files/sarabun-latin-ext-100.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-100.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-100italic - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Sarabun Thin Italic'),
    local('Sarabun-ThinItalic'), 
    url('./files/sarabun-latin-ext-100-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-100-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-200normal - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Sarabun ExtraLight'),
    local('Sarabun-ExtraLight'), 
    url('./files/sarabun-latin-ext-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-200italic - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Sarabun ExtraLight Italic'),
    local('Sarabun-ExtraLightItalic'), 
    url('./files/sarabun-latin-ext-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-300normal - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Sarabun Light'),
    local('Sarabun-Light'), 
    url('./files/sarabun-latin-ext-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-300italic - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Sarabun Light Italic'),
    local('Sarabun-LightItalic'), 
    url('./files/sarabun-latin-ext-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-400normal - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sarabun Regular'),
    local('Sarabun-Regular'), 
    url('./files/sarabun-latin-ext-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-400italic - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Sarabun Italic'),
    local('Sarabun-Italic'), 
    url('./files/sarabun-latin-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-500normal - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Sarabun Medium'),
    local('Sarabun-Medium'), 
    url('./files/sarabun-latin-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-500italic - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Sarabun Medium Italic'),
    local('Sarabun-MediumItalic'), 
    url('./files/sarabun-latin-ext-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-600normal - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Sarabun SemiBold'),
    local('Sarabun-SemiBold'), 
    url('./files/sarabun-latin-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-600italic - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Sarabun SemiBold Italic'),
    local('Sarabun-SemiBoldItalic'), 
    url('./files/sarabun-latin-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-700normal - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sarabun Bold'),
    local('Sarabun-Bold'), 
    url('./files/sarabun-latin-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-700italic - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Sarabun Bold Italic'),
    local('Sarabun-BoldItalic'), 
    url('./files/sarabun-latin-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-800normal - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Sarabun ExtraBold'),
    local('Sarabun-ExtraBold'), 
    url('./files/sarabun-latin-ext-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* sarabun-800italic - latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Sarabun ExtraBold Italic'),
    local('Sarabun-ExtraBoldItalic'), 
    url('./files/sarabun-latin-ext-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/sarabun-latin-ext-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
