/* noto-serif-400normal - cyrillic-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Noto Serif Regular '),
    local('Noto Serif-Regular'),
    url('./files/noto-serif-cyrillic-ext-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/noto-serif-cyrillic-ext-400.woff') format('woff'); /* Modern Browsers */
}

/* noto-serif-400italic - cyrillic-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Noto Serif Regular italic'),
    local('Noto Serif-Regularitalic'),
    url('./files/noto-serif-cyrillic-ext-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/noto-serif-cyrillic-ext-400-italic.woff') format('woff'); /* Modern Browsers */
}

/* noto-serif-700normal - cyrillic-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Serif Bold '),
    local('Noto Serif-Bold'),
    url('./files/noto-serif-cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/noto-serif-cyrillic-ext-700.woff') format('woff'); /* Modern Browsers */
}

/* noto-serif-700italic - cyrillic-ext */
@font-face {
  font-family: 'Noto Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Noto Serif Bold italic'),
    local('Noto Serif-Bolditalic'),
    url('./files/noto-serif-cyrillic-ext-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/noto-serif-cyrillic-ext-700-italic.woff') format('woff'); /* Modern Browsers */
}

