/* jua-400normal - korean */
@font-face {
  font-family: 'Jua';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Jua Regular '),
    local('Jua-Regular'),
    url('./files/jua-korean-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/jua-korean-400.woff') format('woff'); /* Modern Browsers */
}

