/* padauk-400normal - myanmar */
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Padauk Regular '),
    local('Padauk-Regular'),
    url('./files/padauk-myanmar-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/padauk-myanmar-400.woff') format('woff'); /* Modern Browsers */
}

/* padauk-700normal - myanmar */
@font-face {
  font-family: 'Padauk';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Padauk Bold '),
    local('Padauk-Bold'),
    url('./files/padauk-myanmar-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/padauk-myanmar-700.woff') format('woff'); /* Modern Browsers */
}

