/* karma-300normal - all */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Karma Light '),
    local('Karma-Light'),
    url('./files/karma-all-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/karma-all-300.woff') format('woff'); /* Modern Browsers */
}
/* karma-400normal - all */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Karma Regular '),
    local('Karma-Regular'),
    url('./files/karma-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/karma-all-400.woff') format('woff'); /* Modern Browsers */
}
/* karma-500normal - all */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Karma Medium '),
    local('Karma-Medium'),
    url('./files/karma-all-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/karma-all-500.woff') format('woff'); /* Modern Browsers */
}
/* karma-600normal - all */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Karma SemiBold '),
    local('Karma-SemiBold'),
    url('./files/karma-all-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/karma-all-600.woff') format('woff'); /* Modern Browsers */
}
/* karma-700normal - all */
@font-face {
  font-family: 'Karma';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Karma Bold '),
    local('Karma-Bold'),
    url('./files/karma-all-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/karma-all-700.woff') format('woff'); /* Modern Browsers */
}
