/* merriweather-sans-300normal - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: 
    url('./files/merriweather-sans-vietnamese-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-300italic - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: 
    url('./files/merriweather-sans-vietnamese-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-400normal - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/merriweather-sans-vietnamese-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-400italic - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/merriweather-sans-vietnamese-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-500normal - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/merriweather-sans-vietnamese-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-500italic - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/merriweather-sans-vietnamese-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-600normal - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/merriweather-sans-vietnamese-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-600italic - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/merriweather-sans-vietnamese-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-700normal - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/merriweather-sans-vietnamese-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-700italic - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/merriweather-sans-vietnamese-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-800normal - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: 
    url('./files/merriweather-sans-vietnamese-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* merriweather-sans-800italic - vietnamese */
@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: 
    url('./files/merriweather-sans-vietnamese-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/merriweather-sans-vietnamese-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
