/* archivo-narrow-400normal - all */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Archivo Narrow Regular'),
    local('ArchivoNarrow-Regular'), 
    url('./files/archivo-narrow-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-narrow-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-narrow-400italic - all */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Archivo Narrow Italic'),
    local('ArchivoNarrow-Italic'), 
    url('./files/archivo-narrow-all-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-narrow-all-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-narrow-500normal - all */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Archivo Narrow Medium'),
    local('ArchivoNarrow-Medium'), 
    url('./files/archivo-narrow-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-narrow-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-narrow-500italic - all */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Archivo Narrow Medium Italic'),
    local('ArchivoNarrow-MediumItalic'), 
    url('./files/archivo-narrow-all-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-narrow-all-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-narrow-600normal - all */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Archivo Narrow SemiBold'),
    local('ArchivoNarrow-SemiBold'), 
    url('./files/archivo-narrow-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-narrow-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-narrow-600italic - all */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Archivo Narrow SemiBold Italic'),
    local('ArchivoNarrow-SemiBoldItalic'), 
    url('./files/archivo-narrow-all-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-narrow-all-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-narrow-700normal - all */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Archivo Narrow Bold'),
    local('ArchivoNarrow-Bold'), 
    url('./files/archivo-narrow-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-narrow-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* archivo-narrow-700italic - all */
@font-face {
  font-family: 'Archivo Narrow';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Archivo Narrow Bold Italic'),
    local('ArchivoNarrow-BoldItalic'), 
    url('./files/archivo-narrow-all-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/archivo-narrow-all-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
