/* yanone-kaffeesatz-200normal - cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Yanone Kaffeesatz ExtraLight'),
    local('YanoneKaffeesatz-ExtraLight'), 
    url('./files/yanone-kaffeesatz-cyrillic-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/yanone-kaffeesatz-cyrillic-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yanone-kaffeesatz-300normal - cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Yanone Kaffeesatz Light'),
    local('YanoneKaffeesatz-Light'), 
    url('./files/yanone-kaffeesatz-cyrillic-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/yanone-kaffeesatz-cyrillic-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yanone-kaffeesatz-400normal - cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Yanone Kaffeesatz Regular'),
    local('YanoneKaffeesatz-Regular'), 
    url('./files/yanone-kaffeesatz-cyrillic-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/yanone-kaffeesatz-cyrillic-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* yanone-kaffeesatz-700normal - cyrillic */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Yanone Kaffeesatz Bold'),
    local('YanoneKaffeesatz-Bold'), 
    url('./files/yanone-kaffeesatz-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/yanone-kaffeesatz-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
