/* cormorant-300normal - all */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cormorant Light '),
    local('Cormorant-Light'),
    url('./files/cormorant-all-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cormorant-all-300.woff') format('woff'); /* Modern Browsers */
}
/* cormorant-300italic - all */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Cormorant Light italic'),
    local('Cormorant-Lightitalic'),
    url('./files/cormorant-all-300-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cormorant-all-300-italic.woff') format('woff'); /* Modern Browsers */
}
/* cormorant-400normal - all */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cormorant Regular '),
    local('Cormorant-Regular'),
    url('./files/cormorant-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cormorant-all-400.woff') format('woff'); /* Modern Browsers */
}
/* cormorant-400italic - all */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Cormorant Regular italic'),
    local('Cormorant-Regularitalic'),
    url('./files/cormorant-all-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cormorant-all-400-italic.woff') format('woff'); /* Modern Browsers */
}
/* cormorant-500normal - all */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cormorant Medium '),
    local('Cormorant-Medium'),
    url('./files/cormorant-all-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cormorant-all-500.woff') format('woff'); /* Modern Browsers */
}
/* cormorant-500italic - all */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Cormorant Medium italic'),
    local('Cormorant-Mediumitalic'),
    url('./files/cormorant-all-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cormorant-all-500-italic.woff') format('woff'); /* Modern Browsers */
}
/* cormorant-600normal - all */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cormorant SemiBold '),
    local('Cormorant-SemiBold'),
    url('./files/cormorant-all-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cormorant-all-600.woff') format('woff'); /* Modern Browsers */
}
/* cormorant-600italic - all */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Cormorant SemiBold italic'),
    local('Cormorant-SemiBolditalic'),
    url('./files/cormorant-all-600-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cormorant-all-600-italic.woff') format('woff'); /* Modern Browsers */
}
/* cormorant-700normal - all */
@font-face {
  font-family: 'Cormorant';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cormorant Bold '),
    local('Cormorant-Bold'),
    url('./files/cormorant-all-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cormorant-all-700.woff') format('woff'); /* Modern Browsers */
}
/* cormorant-700italic - all */
@font-face {
  font-family: 'Cormorant';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Cormorant Bold italic'),
    local('Cormorant-Bolditalic'),
    url('./files/cormorant-all-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/cormorant-all-700-italic.woff') format('woff'); /* Modern Browsers */
}
