/* asap-400normal - vietnamese */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Asap Regular '),
    local('Asap-Regular'),
    url('./files/asap-vietnamese-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/asap-vietnamese-400.woff') format('woff'); /* Modern Browsers */
}

/* asap-400italic - vietnamese */
@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Asap Regular italic'),
    local('Asap-Regularitalic'),
    url('./files/asap-vietnamese-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/asap-vietnamese-400-italic.woff') format('woff'); /* Modern Browsers */
}

/* asap-500normal - vietnamese */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Asap Medium '),
    local('Asap-Medium'),
    url('./files/asap-vietnamese-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/asap-vietnamese-500.woff') format('woff'); /* Modern Browsers */
}

/* asap-500italic - vietnamese */
@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Asap Medium italic'),
    local('Asap-Mediumitalic'),
    url('./files/asap-vietnamese-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/asap-vietnamese-500-italic.woff') format('woff'); /* Modern Browsers */
}

/* asap-600normal - vietnamese */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Asap SemiBold '),
    local('Asap-SemiBold'),
    url('./files/asap-vietnamese-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/asap-vietnamese-600.woff') format('woff'); /* Modern Browsers */
}

/* asap-600italic - vietnamese */
@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Asap SemiBold italic'),
    local('Asap-SemiBolditalic'),
    url('./files/asap-vietnamese-600-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/asap-vietnamese-600-italic.woff') format('woff'); /* Modern Browsers */
}

/* asap-700normal - vietnamese */
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Asap Bold '),
    local('Asap-Bold'),
    url('./files/asap-vietnamese-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/asap-vietnamese-700.woff') format('woff'); /* Modern Browsers */
}

/* asap-700italic - vietnamese */
@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Asap Bold italic'),
    local('Asap-Bolditalic'),
    url('./files/asap-vietnamese-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/asap-vietnamese-700-italic.woff') format('woff'); /* Modern Browsers */
}

