/* averia-serif-libre-300normal - latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Averia Serif Libre Light'),
    local('AveriaSerifLibre-Light'), 
    url('./files/averia-serif-libre-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/averia-serif-libre-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* averia-serif-libre-300italic - latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Averia Serif Libre Light Italic'),
    local('AveriaSerifLibre-LightItalic'), 
    url('./files/averia-serif-libre-latin-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/averia-serif-libre-latin-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* averia-serif-libre-400normal - latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Averia Serif Libre Regular'),
    local('AveriaSerifLibre-Regular'), 
    url('./files/averia-serif-libre-latin-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/averia-serif-libre-latin-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* averia-serif-libre-400italic - latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Averia Serif Libre Italic'),
    local('AveriaSerifLibre-Italic'), 
    url('./files/averia-serif-libre-latin-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/averia-serif-libre-latin-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* averia-serif-libre-700normal - latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Averia Serif Libre Bold'),
    local('AveriaSerifLibre-Bold'), 
    url('./files/averia-serif-libre-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/averia-serif-libre-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* averia-serif-libre-700italic - latin */
@font-face {
  font-family: 'Averia Serif Libre';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Averia Serif Libre Bold Italic'),
    local('AveriaSerifLibre-BoldItalic'), 
    url('./files/averia-serif-libre-latin-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/averia-serif-libre-latin-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
