/* pt-serif-400normal - all */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('PT Serif Regular '),
    local('PT Serif-Regular'),
    url('./files/pt-serif-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pt-serif-all-400.woff') format('woff'); /* Modern Browsers */
}
/* pt-serif-400italic - all */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('PT Serif Regular italic'),
    local('PT Serif-Regularitalic'),
    url('./files/pt-serif-all-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pt-serif-all-400-italic.woff') format('woff'); /* Modern Browsers */
}
/* pt-serif-700normal - all */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('PT Serif Bold '),
    local('PT Serif-Bold'),
    url('./files/pt-serif-all-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pt-serif-all-700.woff') format('woff'); /* Modern Browsers */
}
/* pt-serif-700italic - all */
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('PT Serif Bold italic'),
    local('PT Serif-Bolditalic'),
    url('./files/pt-serif-all-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/pt-serif-all-700-italic.woff') format('woff'); /* Modern Browsers */
}
