/* philosopher-400normal - cyrillic-ext */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Philosopher Regular '),
    local('Philosopher-Regular'),
    url('./files/philosopher-cyrillic-ext-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/philosopher-cyrillic-ext-400.woff') format('woff'); /* Modern Browsers */
}

/* philosopher-400italic - cyrillic-ext */
@font-face {
  font-family: 'Philosopher';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Philosopher Regular italic'),
    local('Philosopher-Regularitalic'),
    url('./files/philosopher-cyrillic-ext-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/philosopher-cyrillic-ext-400-italic.woff') format('woff'); /* Modern Browsers */
}

/* philosopher-700normal - cyrillic-ext */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Philosopher Bold '),
    local('Philosopher-Bold'),
    url('./files/philosopher-cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/philosopher-cyrillic-ext-700.woff') format('woff'); /* Modern Browsers */
}

/* philosopher-700italic - cyrillic-ext */
@font-face {
  font-family: 'Philosopher';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Philosopher Bold italic'),
    local('Philosopher-Bolditalic'),
    url('./files/philosopher-cyrillic-ext-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/philosopher-cyrillic-ext-700-italic.woff') format('woff'); /* Modern Browsers */
}

