/* literata-400normal - all */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Literata Regular '),
    local('Literata-Regular'),
    url('./files/literata-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-all-400.woff') format('woff'); /* Modern Browsers */
}
/* literata-400italic - all */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Literata Regular italic'),
    local('Literata-Regularitalic'),
    url('./files/literata-all-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-all-400-italic.woff') format('woff'); /* Modern Browsers */
}
/* literata-500normal - all */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Literata Medium '),
    local('Literata-Medium'),
    url('./files/literata-all-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-all-500.woff') format('woff'); /* Modern Browsers */
}
/* literata-500italic - all */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Literata Medium italic'),
    local('Literata-Mediumitalic'),
    url('./files/literata-all-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-all-500-italic.woff') format('woff'); /* Modern Browsers */
}
/* literata-600normal - all */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Literata SemiBold '),
    local('Literata-SemiBold'),
    url('./files/literata-all-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-all-600.woff') format('woff'); /* Modern Browsers */
}
/* literata-600italic - all */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Literata SemiBold italic'),
    local('Literata-SemiBolditalic'),
    url('./files/literata-all-600-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-all-600-italic.woff') format('woff'); /* Modern Browsers */
}
/* literata-700normal - all */
@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Literata Bold '),
    local('Literata-Bold'),
    url('./files/literata-all-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-all-700.woff') format('woff'); /* Modern Browsers */
}
/* literata-700italic - all */
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Literata Bold italic'),
    local('Literata-Bolditalic'),
    url('./files/literata-all-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/literata-all-700-italic.woff') format('woff'); /* Modern Browsers */
}
