/* manuale-400normal - all */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/manuale-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-400italic - all */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/manuale-all-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-all-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-500normal - all */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/manuale-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-500italic - all */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/manuale-all-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-all-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-600normal - all */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/manuale-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-600italic - all */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/manuale-all-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-all-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-700normal - all */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/manuale-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-700italic - all */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/manuale-all-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-all-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
