/* manuale-400normal - all */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Manuale Regular '),
    local('Manuale-Regular'),
    url('./files/manuale-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-all-400.woff') format('woff'); /* Modern Browsers */
}

/* manuale-400italic - all */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Manuale Regular italic'),
    local('Manuale-Regularitalic'),
    url('./files/manuale-all-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-all-400-italic.woff') format('woff'); /* Modern Browsers */
}

/* manuale-500normal - all */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Manuale Medium '),
    local('Manuale-Medium'),
    url('./files/manuale-all-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-all-500.woff') format('woff'); /* Modern Browsers */
}

/* manuale-500italic - all */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Manuale Medium italic'),
    local('Manuale-Mediumitalic'),
    url('./files/manuale-all-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-all-500-italic.woff') format('woff'); /* Modern Browsers */
}

/* manuale-600normal - all */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Manuale SemiBold '),
    local('Manuale-SemiBold'),
    url('./files/manuale-all-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-all-600.woff') format('woff'); /* Modern Browsers */
}

/* manuale-600italic - all */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Manuale SemiBold italic'),
    local('Manuale-SemiBolditalic'),
    url('./files/manuale-all-600-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-all-600-italic.woff') format('woff'); /* Modern Browsers */
}

/* manuale-700normal - all */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Manuale Bold '),
    local('Manuale-Bold'),
    url('./files/manuale-all-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-all-700.woff') format('woff'); /* Modern Browsers */
}

/* manuale-700italic - all */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Manuale Bold italic'),
    local('Manuale-Bolditalic'),
    url('./files/manuale-all-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-all-700-italic.woff') format('woff'); /* Modern Browsers */
}

