/* manuale-400normal - vietnamese */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Manuale Regular'),
    local('Manuale-Regular'), 
    url('./files/manuale-vietnamese-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-vietnamese-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-400italic - vietnamese */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Manuale Italic'),
    local('Manuale-Italic'), 
    url('./files/manuale-vietnamese-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-vietnamese-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-500normal - vietnamese */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Manuale Medium'),
    local('Manuale-Medium'), 
    url('./files/manuale-vietnamese-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-vietnamese-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-500italic - vietnamese */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Manuale Medium Italic'),
    local('Manuale-MediumItalic'), 
    url('./files/manuale-vietnamese-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-vietnamese-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-600normal - vietnamese */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Manuale SemiBold'),
    local('Manuale-SemiBold'), 
    url('./files/manuale-vietnamese-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-vietnamese-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-600italic - vietnamese */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Manuale SemiBold Italic'),
    local('Manuale-SemiBoldItalic'), 
    url('./files/manuale-vietnamese-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-vietnamese-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-700normal - vietnamese */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Manuale Bold'),
    local('Manuale-Bold'), 
    url('./files/manuale-vietnamese-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-vietnamese-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* manuale-700italic - vietnamese */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Manuale Bold Italic'),
    local('Manuale-BoldItalic'), 
    url('./files/manuale-vietnamese-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/manuale-vietnamese-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
