/* manuale-400normal - latin-ext */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Manuale Regular '),
    local('Manuale-Regular'),
    url('./files/manuale-latin-ext-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-latin-ext-400.woff') format('woff'); /* Modern Browsers */
}
/* manuale-400italic - latin-ext */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Manuale Regular italic'),
    local('Manuale-Regularitalic'),
    url('./files/manuale-latin-ext-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-latin-ext-400-italic.woff') format('woff'); /* Modern Browsers */
}
/* manuale-500normal - latin-ext */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Manuale Medium '),
    local('Manuale-Medium'),
    url('./files/manuale-latin-ext-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-latin-ext-500.woff') format('woff'); /* Modern Browsers */
}
/* manuale-500italic - latin-ext */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Manuale Medium italic'),
    local('Manuale-Mediumitalic'),
    url('./files/manuale-latin-ext-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-latin-ext-500-italic.woff') format('woff'); /* Modern Browsers */
}
/* manuale-600normal - latin-ext */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Manuale SemiBold '),
    local('Manuale-SemiBold'),
    url('./files/manuale-latin-ext-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-latin-ext-600.woff') format('woff'); /* Modern Browsers */
}
/* manuale-600italic - latin-ext */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Manuale SemiBold italic'),
    local('Manuale-SemiBolditalic'),
    url('./files/manuale-latin-ext-600-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-latin-ext-600-italic.woff') format('woff'); /* Modern Browsers */
}
/* manuale-700normal - latin-ext */
@font-face {
  font-family: 'Manuale';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Manuale Bold '),
    local('Manuale-Bold'),
    url('./files/manuale-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-latin-ext-700.woff') format('woff'); /* Modern Browsers */
}
/* manuale-700italic - latin-ext */
@font-face {
  font-family: 'Manuale';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Manuale Bold italic'),
    local('Manuale-Bolditalic'),
    url('./files/manuale-latin-ext-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/manuale-latin-ext-700-italic.woff') format('woff'); /* Modern Browsers */
}
