/* krub-200normal - all */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Krub Extra Light '),
    local('Krub-Extra Light'),
    url('./files/krub-all-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-200.woff') format('woff'); /* Modern Browsers */
}
/* krub-200italic - all */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Krub Extra Light italic'),
    local('Krub-Extra Lightitalic'),
    url('./files/krub-all-200-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-200-italic.woff') format('woff'); /* Modern Browsers */
}
/* krub-300normal - all */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Krub Light '),
    local('Krub-Light'),
    url('./files/krub-all-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-300.woff') format('woff'); /* Modern Browsers */
}
/* krub-300italic - all */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Krub Light italic'),
    local('Krub-Lightitalic'),
    url('./files/krub-all-300-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-300-italic.woff') format('woff'); /* Modern Browsers */
}
/* krub-400normal - all */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Krub Regular '),
    local('Krub-Regular'),
    url('./files/krub-all-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-400.woff') format('woff'); /* Modern Browsers */
}
/* krub-400italic - all */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Krub Regular italic'),
    local('Krub-Regularitalic'),
    url('./files/krub-all-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-400-italic.woff') format('woff'); /* Modern Browsers */
}
/* krub-500normal - all */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Krub Medium '),
    local('Krub-Medium'),
    url('./files/krub-all-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-500.woff') format('woff'); /* Modern Browsers */
}
/* krub-500italic - all */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Krub Medium italic'),
    local('Krub-Mediumitalic'),
    url('./files/krub-all-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-500-italic.woff') format('woff'); /* Modern Browsers */
}
/* krub-600normal - all */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Krub SemiBold '),
    local('Krub-SemiBold'),
    url('./files/krub-all-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-600.woff') format('woff'); /* Modern Browsers */
}
/* krub-600italic - all */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Krub SemiBold italic'),
    local('Krub-SemiBolditalic'),
    url('./files/krub-all-600-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-600-italic.woff') format('woff'); /* Modern Browsers */
}
/* krub-700normal - all */
@font-face {
  font-family: 'Krub';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Krub Bold '),
    local('Krub-Bold'),
    url('./files/krub-all-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-700.woff') format('woff'); /* Modern Browsers */
}
/* krub-700italic - all */
@font-face {
  font-family: 'Krub';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Krub Bold italic'),
    local('Krub-Bolditalic'),
    url('./files/krub-all-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/krub-all-700-italic.woff') format('woff'); /* Modern Browsers */
}
