/* fira-sans-extra-condensed-100normal - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src:
    local('Fira Sans Extra Condensed Thin '),
    local('Fira Sans Extra Condensed-Thin'),
    url('./files/fira-sans-extra-condensed-greek-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-100.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-100italic - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src:
    local('Fira Sans Extra Condensed Thin italic'),
    local('Fira Sans Extra Condensed-Thinitalic'),
    url('./files/fira-sans-extra-condensed-greek-100-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-100-italic.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-200normal - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fira Sans Extra Condensed Extra Light '),
    local('Fira Sans Extra Condensed-Extra Light'),
    url('./files/fira-sans-extra-condensed-greek-200.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-200.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-200italic - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src:
    local('Fira Sans Extra Condensed Extra Light italic'),
    local('Fira Sans Extra Condensed-Extra Lightitalic'),
    url('./files/fira-sans-extra-condensed-greek-200-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-200-italic.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-300normal - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fira Sans Extra Condensed Light '),
    local('Fira Sans Extra Condensed-Light'),
    url('./files/fira-sans-extra-condensed-greek-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-300.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-300italic - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src:
    local('Fira Sans Extra Condensed Light italic'),
    local('Fira Sans Extra Condensed-Lightitalic'),
    url('./files/fira-sans-extra-condensed-greek-300-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-300-italic.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-400normal - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fira Sans Extra Condensed Regular '),
    local('Fira Sans Extra Condensed-Regular'),
    url('./files/fira-sans-extra-condensed-greek-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-400.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-400italic - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Fira Sans Extra Condensed Regular italic'),
    local('Fira Sans Extra Condensed-Regularitalic'),
    url('./files/fira-sans-extra-condensed-greek-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-400-italic.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-500normal - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fira Sans Extra Condensed Medium '),
    local('Fira Sans Extra Condensed-Medium'),
    url('./files/fira-sans-extra-condensed-greek-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-500.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-500italic - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Fira Sans Extra Condensed Medium italic'),
    local('Fira Sans Extra Condensed-Mediumitalic'),
    url('./files/fira-sans-extra-condensed-greek-500-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-500-italic.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-600normal - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fira Sans Extra Condensed SemiBold '),
    local('Fira Sans Extra Condensed-SemiBold'),
    url('./files/fira-sans-extra-condensed-greek-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-600.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-600italic - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Fira Sans Extra Condensed SemiBold italic'),
    local('Fira Sans Extra Condensed-SemiBolditalic'),
    url('./files/fira-sans-extra-condensed-greek-600-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-600-italic.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-700normal - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fira Sans Extra Condensed Bold '),
    local('Fira Sans Extra Condensed-Bold'),
    url('./files/fira-sans-extra-condensed-greek-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-700.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-700italic - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Fira Sans Extra Condensed Bold italic'),
    local('Fira Sans Extra Condensed-Bolditalic'),
    url('./files/fira-sans-extra-condensed-greek-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-700-italic.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-800normal - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Fira Sans Extra Condensed ExtraBold '),
    local('Fira Sans Extra Condensed-ExtraBold'),
    url('./files/fira-sans-extra-condensed-greek-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-800.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-800italic - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('Fira Sans Extra Condensed ExtraBold italic'),
    local('Fira Sans Extra Condensed-ExtraBolditalic'),
    url('./files/fira-sans-extra-condensed-greek-800-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-800-italic.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-900normal - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src:
    local('Fira Sans Extra Condensed Black '),
    local('Fira Sans Extra Condensed-Black'),
    url('./files/fira-sans-extra-condensed-greek-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-900.woff') format('woff'); /* Modern Browsers */
}

/* fira-sans-extra-condensed-900italic - greek */
@font-face {
  font-family: 'Fira Sans Extra Condensed';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src:
    local('Fira Sans Extra Condensed Black italic'),
    local('Fira Sans Extra Condensed-Blackitalic'),
    url('./files/fira-sans-extra-condensed-greek-900-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/fira-sans-extra-condensed-greek-900-italic.woff') format('woff'); /* Modern Browsers */
}

