/* podkova-400normal - vietnamese */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Podkova Regular'),
    local('Podkova-Regular'), 
    url('./files/podkova-vietnamese-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/podkova-vietnamese-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* podkova-500normal - vietnamese */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Podkova Medium'),
    local('Podkova-Medium'), 
    url('./files/podkova-vietnamese-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/podkova-vietnamese-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* podkova-600normal - vietnamese */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Podkova SemiBold'),
    local('Podkova-SemiBold'), 
    url('./files/podkova-vietnamese-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/podkova-vietnamese-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* podkova-700normal - vietnamese */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Podkova Bold'),
    local('Podkova-Bold'), 
    url('./files/podkova-vietnamese-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/podkova-vietnamese-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* podkova-800normal - vietnamese */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('Podkova ExtraBold'),
    local('Podkova-ExtraBold'), 
    url('./files/podkova-vietnamese-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/podkova-vietnamese-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
