/* mulish-200normal - all */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: 
    url('./files/mulish-all-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-200italic - all */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: 
    url('./files/mulish-all-200-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-200-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-300normal - all */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: 
    url('./files/mulish-all-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-300italic - all */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: 
    url('./files/mulish-all-300-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-300-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-400normal - all */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/mulish-all-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-400italic - all */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: 
    url('./files/mulish-all-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-500normal - all */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/mulish-all-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-500italic - all */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: 
    url('./files/mulish-all-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-600normal - all */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/mulish-all-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-600italic - all */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: 
    url('./files/mulish-all-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700normal - all */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/mulish-all-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-700italic - all */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: 
    url('./files/mulish-all-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-800normal - all */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: 
    url('./files/mulish-all-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-800italic - all */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: 
    url('./files/mulish-all-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-900normal - all */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: 
    url('./files/mulish-all-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* mulish-900italic - all */
@font-face {
  font-family: 'Mulish';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: 
    url('./files/mulish-all-900-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/mulish-all-900-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
