/* eb-garamond-400normal - greek-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('EB Garamond Regular'),
    local('EBGaramond-Regular'), 
    url('./files/eb-garamond-greek-ext-400.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eb-garamond-greek-ext-400.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-400italic - greek-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('EB Garamond Italic'),
    local('EBGaramond-Italic'), 
    url('./files/eb-garamond-greek-ext-400-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eb-garamond-greek-ext-400-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-500normal - greek-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('EB Garamond Medium'),
    local('EBGaramond-Medium'), 
    url('./files/eb-garamond-greek-ext-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eb-garamond-greek-ext-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-500italic - greek-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('EB Garamond Medium Italic'),
    local('EBGaramond-MediumItalic'), 
    url('./files/eb-garamond-greek-ext-500-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eb-garamond-greek-ext-500-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-600normal - greek-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('EB Garamond SemiBold'),
    local('EBGaramond-SemiBold'), 
    url('./files/eb-garamond-greek-ext-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eb-garamond-greek-ext-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-600italic - greek-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('EB Garamond SemiBold Italic'),
    local('EBGaramond-SemiBoldItalic'), 
    url('./files/eb-garamond-greek-ext-600-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eb-garamond-greek-ext-600-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-700normal - greek-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('EB Garamond Bold'),
    local('EBGaramond-Bold'), 
    url('./files/eb-garamond-greek-ext-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eb-garamond-greek-ext-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-700italic - greek-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('EB Garamond Bold Italic'),
    local('EBGaramond-BoldItalic'), 
    url('./files/eb-garamond-greek-ext-700-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eb-garamond-greek-ext-700-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-800normal - greek-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src:
    local('EB Garamond ExtraBold'),
    local('EBGaramond-ExtraBold'), 
    url('./files/eb-garamond-greek-ext-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eb-garamond-greek-ext-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* eb-garamond-800italic - greek-ext */
@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src:
    local('EB Garamond ExtraBold Italic'),
    local('EBGaramond-ExtraBoldItalic'), 
    url('./files/eb-garamond-greek-ext-800-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./files/eb-garamond-greek-ext-800-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
