/* yeseva-one-400normal - latin-ext */
@font-face {
  font-family: 'Yeseva One';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Yeseva One Regular '),
    local('Yeseva One-Regular'),
    url('./files/yeseva-one-latin-ext-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/yeseva-one-latin-ext-400.woff') format('woff'); /* Modern Browsers */
}
