/* dynalight-400normal - latin-ext */
@font-face {
  font-family: 'Dynalight';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Dynalight Regular '),
    local('Dynalight-Regular'),
    url('./files/dynalight-latin-ext-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/dynalight-latin-ext-400.woff') format('woff'); /* Modern Browsers */
}

