/* ubuntu-mono-400normal - cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ubuntu Mono Regular '),
    local('Ubuntu Mono-Regular'),
    url('./files/ubuntu-mono-cyrillic-ext-400.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ubuntu-mono-cyrillic-ext-400.woff') format('woff'); /* Modern Browsers */
}

/* ubuntu-mono-400italic - cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Ubuntu Mono Regular italic'),
    local('Ubuntu Mono-Regularitalic'),
    url('./files/ubuntu-mono-cyrillic-ext-400-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ubuntu-mono-cyrillic-ext-400-italic.woff') format('woff'); /* Modern Browsers */
}

/* ubuntu-mono-700normal - cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Ubuntu Mono Bold '),
    local('Ubuntu Mono-Bold'),
    url('./files/ubuntu-mono-cyrillic-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ubuntu-mono-cyrillic-ext-700.woff') format('woff'); /* Modern Browsers */
}

/* ubuntu-mono-700italic - cyrillic-ext */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Ubuntu Mono Bold italic'),
    local('Ubuntu Mono-Bolditalic'),
    url('./files/ubuntu-mono-cyrillic-ext-700-italic.woff2') format('woff2'), /* Super Modern Browsers */
    url('./files/ubuntu-mono-cyrillic-ext-700-italic.woff') format('woff'); /* Modern Browsers */
}

